{% extends 'base.html.twig' %}

{% block title %}Edit Categories
{% endblock %}

{% block body %}
	<h1>Edit Categories</h1>

	{{ include('educateur/categories/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_educateur_categories_index') }}">back to list</a>

	{{ include('educateur/categories/_delete_form.html.twig') }}
{% endblock %}
